html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button, label {
  display: block;
  padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
  display: block;
}
a:focus, button:focus {
	outline: none;
}

/* CSS TOOLS ////////////////////////////////////////// */
* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  -ms-overflow-style: none;
  overflow: hidden;
  overflow: -moz-scrollbars-none; 
}

/* Chrome and Safari */
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  /* Prevent address bar from disappearing on mobile. */
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.vp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  /* This allows us to use rows properly as otherwise
  these divs will shrink down. */
  flex: none;
}

.ur {
  position: relative;
  width: var(--w);
  height: var(--h);
}


/* ANIMATIONS //////////////////////////////////////////// */
@keyframes blur-in {from {filter:blur(calc(var(--w)/30))}; to{filter: blur(0)}}

/* GENERAL ///////////////////////////////////////////// */
.vp {
  background-color: hsl(250, 100%, 0%);
  /* animation: blur-in 5s ease-out forwards; */
}

.ur {
  /* background-color: black; */
}

/* GENERAL INTERACTIONS //////////////////////////////////// */
input {
  width: 0;
}

label, a, button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Iceland";
  font-family: "East Sea Dokdo";
  font-family: "Sirin Stencil";
  border: none;
  transition-property: box-shadow, transform, background-color, border, color;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}

label:hover, input:focus ~ label, a:hover, a:focus, button:hover, button:focus  {
  transform: scale(110%);
  box-shadow: hsl(250, 100%, 40%) 0px 0px calc(var(--w)/20);
  border: calc(var(--w)/200) solid hsl(250, 100%, 50%);
  color: hsl(280, 100%,60%);
  background-color: hsl(250, 100%, 20%);
}

input:checked ~ label {
  box-shadow: hsl(250, 100%, 40%) 0px 0px calc(var(--w)/10);
  transform: scale(120%);
  border: calc(var(--w)/100) solid hsl(250, 100%, 50%);
  color: hsl(300, 100%, 50%);
  background-color: black;
}

/* MENU /////////////////////////////////////////////// */
menu {
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 1%;
}

ul {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

li {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

menu label, menu a {
  width: 100%;
  height: 80%;
  font-size: calc(var(--w)/15);
  background-color: hsl(250, 100%, 5%);
  color: hsl(250, 100%, 60%);
  border: calc(var(--w)/200) hsl(250, 100%, 10%) solid;
}

#about-button-container {
  width: 15%;
}

#about-button-container a {
  font-size: calc(var(--w)/25);
}

/* TRACK NAME ------------------------------------------------ */
h2 {
  color: hsl(250, 100%, 70%);
  position: absolute;
  width: 100%;
  top: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc(var(--w)/15);
  font-family: "Iceland";
  letter-spacing: calc(var(--w)/100);
  /* font-family: "East Sea Dokdo";
  font-family: "Sirin Stencil"; */
}

/* PAUSE-PLAY BUTTON --------------------------------------------- */
#pause-play-button {
  position: absolute;
  left: 45%;
  top: 79%;
  width: 10%;
  height: 5%;
  border-width: 0;
  background-color: hsl(250, 100%, 10%);
}

#pause-play-button:hover, #pause-play-button:focus {
  background-color: black;
}

#pause-play-button:hover path, #pause-play-button:focus path {
  fill: hsl(300, 100%, 60%);
}

#pause-play-icon {
  display: block;
  width: 100%;
  height: 100%;
}

/* TRACK ANIMATIONS //////////////////////////////////////////// */
.track-animations {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
}

#track-animation4 {
  filter: blur(calc(var(--w)/40));
}

#group4-1 {
  border: 4px solid red;
  width: 100%;
  height: 100%;
  background-color: blue; 
}

@media only screen and (orientation: landscape) {

  .mobile {
    display: none;
  }

  /* GENERAL //////////////////////////////////////////////// */

  button:hover, button:focus, a:hover, a:focus {
    box-shadow: hsl(250, 100%, 50%) 0px calc((var(--w)/100) * -1) calc(var(--w)/20);
    border-width: calc(var(--w)/200);
  }

  /* BUTTON MENU ///////////////////////////////////////////// */
  menu {
    width: 50%;
  }

  #about-button-container a {
    font-size: calc(var(--w)/40);
  }

  label:hover, input:focus ~ label, a:hover, a:focus {
    box-shadow: hsl(250, 100%, 50%) 0px calc((var(--w)/100) * -1) calc(var(--w)/20);
    border-width: calc(var(--w)/200);
  }

  input:checked ~ label {
    border-width: calc(var(--w)/200);
    box-shadow: hsl(250, 100%, 50%) 0px calc((var(--w)/100) * -1) calc(var(--w)/20);
  }

  menu label {
    font-size: calc(var(--w)/30);
  }

  /* TRACK NAME ----------------------------------------- */
  h2 {
    /* font-size: calc(var(--w)/30); */
    font-size: calc(var(--w)/21);
    right: 1%;
    width: 42%;
    top: 92%;
    top: 90%;
    /* border: 1px solid green; */
    text-align: left;
  }

  /* PAUSE-PLAY-BUTTON ---------------------------------------- */
  #pause-play-button {
    width: 5%;
    height: 8%;
    left: 50%;
    top: 90%;
  }

  /* TRACK ANIMATIONS -------------------------------------------- */
  #track-animation4 {
    filter: blur(calc(var(--w)/120));
  }
}