* {
  box-sizing: border-box;
}

/* Fixes a Chrome rendering bug. */
.vp:target, .ch2:target {
  outline: 1px solid transparent;
}

.vp:target .ur, .ch2:target .ur {
  outline: 1px solid transparent;
}

:root {
  height: 100%;
  -ms-overflow-style: none;
  overflow: hidden;
  overflow: -moz-scrollbars-none; 
}

/* Chrome and Safari */
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  /* Prevent address bar from disappearing on mobile. */
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#fixed-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gutter1, #gutter2 {
  position: absolute;
  width: var(--gw);
  height: var(--gh);
}

#gutter1 {
  left: 0;
  top: 0;
}

#gutter2 {
  right: 0;
  bottom: 0;
}

/* Main Scrolling Container */
#msc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

/* Viewport Div */
.vp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  /* This allows us to use rows properly as otherwise
  these divs will shrink down. */
  flex: none;
}

.ur {
  position: relative;
  width: var(--w);
  height: var(--h);
}

.abs {
  position: absolute;
}

i {
  font-style: italic;
  padding-right: 0.5ch;
}

.desktop {
  display: none;
}


.row {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.ch2 {
  width: 200%;
  height: 100%;
  scroll-snap-type: x mandatory;
  display: flex;
  flex: none;
}

.chi2 {
  width: 50%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ch3 {
  width: 300%;
  height: 100%;
  scroll-snap-type: x mandatory;
  display: flex;
  flex: none;
}

.chi3 {
  width: 33.3333%;
  height: 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv2 {
  width: 100%;
  height: 200%;
  scroll-snap-type: y mandatory;
}

.cvi2 {
  width: 100%;
  height: 50%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv3 {
  width: 100%;
  height: 300%;
  scroll-snap-type: y mandatory;
}

.cvi3 {
  width: 100%;
  height: 33.3333%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BACKGROUND IMAGE RESIZING */
/* Mobile first, followed by... */
/* Tablet to HD Desktop */
@media only screen and (min-width:601px) and (max-width: 1920px) {

  @media only screen and (orientation: landscape) {

  }
}
/* 4K */
@media only screen and (min-width: 1921px) {

}

/* DESKTOP ////////////////////////////////////////////// */
@media only screen and (orientation: landscape) {
  .cv2, .cv3 {
    height: 100%;
    position: relative;
  }

  .cvi2, .cvi3 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
  }

  .ch2, .ch3 {
    width: 100%;
    position: relative;
  }

  .chi2, .chi3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
  }

  .cvi2 a, .cvi3 a, .chi2 a, .chi3 a {
    pointer-events: initial;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }
}

/* TABLET ////////////////////////////// */
@media only screen and (min-width: 600px) {

}

/* LAPTOP / DESKTOP //////////////////////////// */
@media only screen and (min-width: 1025px) {

}