html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
  display: block;
}
a:focus {
	outline: none;
}

/* CSS TOOLS ////////////////////////////// */
* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  -ms-overflow-style: none;
  overflow: hidden;
  overflow: -moz-scrollbars-none; 
}

/* Chrome and Safari */
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  /* Prevent address bar from disappearing on mobile. */
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#msc {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.row {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
  overflow-y:hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.vp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  /* This allows us to use rows properly as otherwise
  these divs will shrink down. */
  flex: none;
}

.ur {
  position: relative;
  width: var(--w);
  height: var(--h);
}

.abs {
  position: absolute;
}

.desktop {
  display: none;
}

/* ANIMATIONS //////////////////////////////////////////// */

@keyframes fade-in {
  from{opacity:0;}
  to{opacity:1;}
}
@keyframes background-shift1 {
  from {background-position: 0% -100%;}
  to {background-position: 0% 200%;}
}
@keyframes blur1 {
  0% {filter: blur(calc(var(--w)/10));}
  30% {filter: blur(0);}
}
@keyframes scale1 {
  0% {transform: scale(250%);}
  100% {transform: scale(100%);}
}
@keyframes background-scale1 {
  0% {background-size: 300%;}
  100% {background-size: 100%;}
}
@keyframes background-scale2 {
  0% {background-size: 150%;}
  100% {background-size: 50%;}
}
@keyframes scale-down1 {
  0% {transform: scale(150%) translate(-10%, -20%);}
  100% {transform: scale(100%);}
}

/* BACKGROUND-IMAGES ////////////////////////////// */
#background1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("../assets/visual/mood-album-cover-medium.jpg");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  animation: background-scale1 18s ease-out forwards, blur1 18s linear;
}
@media only screen and (min-width: 601px) {
  #background1 {
    background-image: url("../assets/visual/mood-album-cover-large.jpg");
  }
}

/* CONTENT ////////////////////////////// */
header {
  color: white;
}

header .ur {
  background-color: transparent;
}

header nav {
  height: 100%;
  font-family: "Plaster", sans-serif;
}

header nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-bottom: 40%;
  animation: fade-in 5s forwards;
}

header nav ul li {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header nav ul li a {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--w)/12);
  text-align: center;
  transition-property: transform, background-color;
  transition-duration: 2s;
}

header nav ul li a:hover, header nav ul li a:focus {
  background-color: hsla(0, 0%, 0%, 0.8);
  transform: scale(110%);
}

#tracks-link {
  font-family: "Ubuntu", sans-serif;
  bottom: 10%;
  width: 40%;
  left: 30%;
  text-align: center;
  font-size: calc(var(--w)/12);
  border: calc(var(--w)/100) solid white;
  animation: fade-in 5s linear forwards;
  transition-property: background-color, color, transform;
  transition-duration: 2s;
}

#tracks-link:hover, #tracks-link:focus {
  background-color: white;
  color: black;
  transform: scale(120%);
}

@media only screen and (orientation: landscape) {
  .desktop {
    display: initial;
  }

  .mobile {
    display: none;
  }

  #background1 {
    background-size: 50%;
    background-position: 30% 50%;
    animation: background-scale2 18s ease-out forwards, 
      blur1 18s linear forwards;
  }

  header .ur {
    animation: scale-down1 12s ease-out forwards;
  }

  header nav ul {
    padding-bottom: 0%;
    position: absolute;
    padding-top: 12%;
    padding-left: 7%;
    /* animation: fade-in 8s linear forwards; */
  }

  header nav ul li {
    height: 23%;
  }

  header nav ul li a {
    font-size: calc(var(--w)/30);
    width: 70%;
  }

  #tracks-link {
    font-size: calc(var(--w)/30);
    top: 48%;
    left: 75%;
    width: 20%;
    border-width: calc(var(--w)/200);
    height: 7%;
  }


}