/* HEADERS ////////////////////////////////////////////// */
#band-members1 h2 {
  top: 20%;
  left: 7%
}

#band-members1 .header-row-link-container {
  top: 33%;
  left: 24%;
}

.band-member-name {
  color: hsl(250, 100%, 80%);
  height: 10%;
  font-size: calc(var(--w)/11);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bungee Outline", sans-serif;
}

.band-member-role {
  color: hsl(300, 100%, 30%);
  height: 8%;
  font-size: calc(var(--w)/15);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-family: "Ubuntu", sans-serif;
}

/* PICTURES //////////////////////////////////////////// */
.band-member-pic {
  object-fit: contain;
  width: 100%;
  height: 50%;
  filter: grayscale(100%) sepia(100%) hue-rotate(250deg) saturate(500%) brightness(0.7); 
}

.band-member-write-up {
  font-size: calc(var(--w)/23);
  height: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.band-member-write-up p {
  font-size: calc(var(--w)/23);
}

.track-name {
  color: hsl(250, 100%, 60%);
}

@media only screen and (orientation: landscape) {
  /* BACKGROUNDS /////////////////////////////////////// */
  #background3 {
    transform: scale(40%) translate(80%, -79%);
  }

  /* PAGE-LINKS ///////////////////////////////////////// */
  #band-members1 .header-row-link-container {
    left: 21%;
  }

  /* BAND MEMBER PROFILES /////////////////////////////////// */
  .band-member-pic {
    /* border: 4px solid red; */
    position: absolute;
    width: 50%;
    height: 85%;
    padding: 8%;
  }

  .band-member-name, .band-member-role, .band-member-write-up {
    position: absolute;
    width: 58%;
    left: 42%;
  }

  .band-member-name {
    font-size: calc(var(--w)/20);
    top: 20%;
  }

  .band-member-role {
    font-size: calc(var(--w)/25);
    top: 35%;
  }

  .band-member-write-up {
    font-size: calc(var(--w)/50);
    padding: 0%;
    top: 50%;
    padding: 0% 4%;
  }

  .band-member-write-up p {
    width: 100%;
    height: 100%;
    font-size: calc(var(--w)/50);
    padding: 0%;
    top: 50%;
    padding: 0% 4%;
  }
}