#header {
  display: none;
}
/* GENERAL /////////////////////////////////////////// */
.vp {
  background-color: black;
}
.ur {
  background-color: hsl(250, 100%, 5%);
}

/* BACKGROUNDS ////////////////////////////////////// */
#background2 {
  /* transform: translateX(-1%); */
}

/* PAGE-LINKS ////////////////////////////////////// */
.page-links-vertical {
  position: absolute;
  bottom: 2%;
  width: 90%;
  left: 5%;
  height: 3%;
}

.page-links-horizontal {
  position: absolute;
  bottom: 4%;
  width: 100%;
  height: 5%;
}

.page-link {
  width: 10%;
}

.page-link path {
  transition-property: stroke;
  transition-duration: 1s;
  transition-timing-function: ease-out; 
}
.page-link:hover path, .page-link:focus path {
  stroke: magenta;
}

.header-row-link-container {
  position: absolute;
  width: 9%;
  border: calc(var(--w)/200) solid hsl(250, 100%, 60%);
}

.header-row-link-container path, .header-row-link-container rect {
  transition-property: fill;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}

.header-row-link-container a:hover path, .header-row-link-container a:focus path {
  fill: magenta;
}

.header-row-link-container a:focus rect, .header-row-link-container a:hover rect {
  fill: black;
}

#about-album1 .header-row-link-container {
  left: 45.5%;
  top: 47%;
}

/* HEADERS ////////////////////////////////////////// */
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: calc(var(--w)/11);
  text-align: center;
  position: absolute;
  color: hsl(250, 100%, 80%);
}

#about-album1 h2 {
  left: 35%;
  top: 29%;
}

/* PARAGRAPHS ////////////////////////////////////// */
.paragraph-container {
  height: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  color:hsl(250, 100%, 80%);
  font-family: "Montserrat", sans-serif;
  font-size: calc(var(--w)/20);
  padding: 2% 5%;
  line-height: 1.5;
}

.band-name {
  color: hsl(300, 100%, 50%);
  font-weight: bold;
}

.album-name {
  font-family: "Ubuntu";
  color: hsl(240, 100%, 50%);
  font-weight: bold;
  font-style: italic;
  font-size: calc(var(--w)/10);
  text-align: center;
}

.external-inline-link {
  display: inline;
  text-decoration: underline;
  color: hsl(250, 100%, 70%);
  font-weight: bold;
}

.external-inline-link:hover, .external-inline-link:focus {
  color: magenta;
}

@media only screen and (orientation: landscape) {
  /* BACKGROUNDS --------------------------------------- */
  #background2 path {
    transform: scale(40%) translate(0%, -1%);
  }

  path {
    stroke-width: 0;
  }

  /* HEADERS ------------------------------------------------ */
  h2 {
    font-size: calc(var(--w)/20);
  }

  #about-album1 h2 {
    left: 40%;
    word-spacing: calc(var(--w)/100);
    letter-spacing: calc(var(--w)/200);
  }

  /* PAGE-LINKS ----------------------------------------------- */
  .header-row-link-container {
    width: 7%;
    border: hsl(250, 100%, 30%) solid calc(var(--w)/200);
  }

  #about-album1 .header-row-link-container {
    left: 60%;
  }

  /* PARAGRAPHS -------------------------------------------- */
  p {
    font-size: calc(var(--w)/50);
    padding: 2% 20%;
  }

  .album-name {
    font-size: calc(var(--w)/20);
  }

}