/* HEADERS ////////////////////////////////////// */
#web-design1 h2 {
  top: 62%;
  left: 24%;
}

#row3 h3 {
  padding-top: 2%;
  color: hsl(250, 100%, 50%);
  font-size: calc(var(--w)/5);
  font-family: "Bungee Outline", sans-serif;
  text-align: center;
}

#web-design3 p, #web-design4 p {
  padding-top: 8%;
}

/* PAGE-LINKS //////////////////////////////////////// */
#web-design1 .header-row-link-container {
  left: 46%;
  top: 71%;
}

/* DREEKO PROFILE //////////////////////////////////////// */
#dreeko-logo {
  object-fit: contain;
  width: 100%;
  height: 20%;
}

#web-design2 .ur {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 30%;
}

/* FONTS-LIST //////////////////////////////////////////////// */
#fonts-list {
  padding-top: 10%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: hsl(250, 100%, 80%);
  font-size: calc(var(--w)/15);
}

#fonts-list li {
  height: 17%;
}

#fonts-list a {
  height: 100%;
  text-align: center;
  border-top:hsl(250, 100%, 50%) solid calc(var(--w)/200);
}

#fonts-list a:hover, #fonts-list a:focus {
  background-color: hsl(250, 100%, 20%);
  color: magenta;
}

.hubballi {
  font-family: "Hubballi", cursive;
  font-size: calc(var(--w)/11);
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.plaster {
  font-family: "Plaster", cursive;
}

.bungee-outline {
  font-family: "Bungee Outline", cursive;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

/* IMAGE LIST /////////////////////////////////////// */
#web-design4 ul {
  /* border: 1px solid red; */
  height: 45%;
  color: hsl(250, 100%, 80%);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: calc(var(--w)/25);
  padding-left: 10%;
  line-height: 1.5;
}

@media only screen and (orientation: landscape) {
  /* BACKGROUNDS //////////////////////////// */
  #background4 {
    transform: scale(110%, 65%) translate(0%, -35.5%);
  }
  /* HEADERS //////////////////////////////////// */
  #web-design1 h2 {
    left: 36%;
    top: 34%;
  }

  /* PAGE-LINKS //////////////////////////////////// */
  #web-design1 .header-row-link-container {
    left: 47.5%;
    top: 60%;
  }

  /* DREEKO PROFILE ////////////////////////////////////// */
  #web-design2 .ur {
    padding-bottom: 7%;
  }

  #dreeko-logo {
    height: 40%;
    padding: 0;
  }

  /* FONTS /////////////////////////////////////////////// */
  #web-design3 h3 {
    font-size: calc(var(--w)/10);
  }

  #web-design3 p {
    padding-top: 2%;
  }

  #fonts-list {
    padding-top: 1%;
    font-size: calc(var(--w)/30);
  }
 
  .hubballi {
    font-size: calc(var(--w)/25);
  }

}
