html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: inherit;
  display: block;
}
a:focus {
	outline: none;
}

/* CSS TOOLS //////////////////////////////////////////// */
* {
  box-sizing: border-box;
}

:root {
  height: 100%;
  -ms-overflow-style: none;
  overflow: hidden;
  overflow: -moz-scrollbars-none; 
}

/* Chrome and Safari */
::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  /* Prevent address bar from disappearing on mobile. */
  position: fixed;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

#gutter1, #gutter2 {
  position: absolute;
  width: var(--gw);
  height: var(--gh);
}

#gutter1 {
  left: 0;
  top: 0;
}

#gutter2 {
  right: 0;
  bottom: 0;
}

/* Viewport Div */
.vp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  /* This allows us to use rows properly as otherwise
  these divs will shrink down. */
  flex: none;
}

.ur {
  position: relative;
  width: var(--w);
  height: var(--h);
}

.abs {
  position: absolute;
}

i {
  font-style: italic;
  padding-right: 0.5ch;
}

.desktop {
  display: none;
}

/* CSS TOOLS LANDSCAPE /////////////////////////////////////////// */
@media only screen and (orientation: landscape) {
  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }
}

/* CONTENT: PORTRAIT ////////////////////////////////////////////////////// */
svg {
  display: none;
}

.vp {
  background-color: hsl(250, 100%, 5%);
}

img {
  width: 90%;
  left: 5%;
  top: 15%;
  filter: url(#filter1);
}

@keyframes blur-in {
  from {filter: blur(calc(var(--w)/50));}
  to {filter: blur(0);}
}

a {
  border: calc(var(--w)/300) solid hsl(250, 100%, 20%);
  width: 30%;
  height: 5%;
  left: 35%;
  top: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(250, 100%, 60%);
  font-size: calc(var(--w)/15);
  font-family: "Hubballi", sans-serif;
  animation: blur-in 17s ease-out;
  transition-property: color, box-shadow, border-color, filter, background-color;
  transition-duration: 2s;
}

a:hover, a:focus {
  color: hsl(250, 100%, 50%);
  border-color: hsl(250, 100%, 50%);
  box-shadow:hsl(250, 100%, 30%) 0px 0px calc(var(--w)/10);
  filter: blur(calc(var(--w)/1500));
  background-color: hsl(250, 100%, 20%);
}

/* CONTENT: LANDSCAPE //////////////////////////////// */
@media only screen and (orientation: landscape) {
  img {
    /* border: 4px solid red; */
    top: 8%;
    left: 30%;
    width: 40%;
    /* height: 64%; */
  }

  a {
    font-size: calc(var(--w)/30);
    width: 12%;
    height: 8%;
    border-width: calc(var(--w)/1000);
    left: 44%;
    top: 83%;
  }
}